body {
	width:800px; 
	margin-block
}

header {
	text-align: center;
	color:white;
	background-color: #2C3E50; 
	font size:20px; 
	display:block;
}
nav{
	text-align:center; 
	background color: black; 
	width:640px; 
	display:inline-block; 
	padding: 10px;
}
nav img{
	margin:0 6px; 
	height: 190px; 
	width: 150px;	
}
.images {
    display: inline-block;
}

section {
	width:640px; 
	display}


}